[submodule "Ateliware-challenge-client"]
	path = Ateliware-challenge-client
	url = ../Ateliware-challenge-client.git
[submodule "Ateliware-challenge-server"]
	path = Ateliware-challenge-server
	url = ../Ateliware-challenge-server.git
